<section class="design padding-top inner-wrap">
    <a ui-sref="home" class="logo-container"><img class="page-logo" ng-src="../img/earlogo1.svg" alt="small ear logo"/></a>
    <h1 class="main-title">Design</h1>
    <p class="subtitle">Front End Developer</p>

    <!-- SOCIAL ICON DIRECTIVE -->
    <social-icon-directive></social-icon-directive>

    <section class="content-container">
        <h3>UI/UX and Design</h3>
        <p>All content on this page was designed by Elliot Richardson either for a small business client, or an open opportunity.  Some of the ideas were designed in designer applications as well as taken to full functionality through the use of HTML, CSS, Bootstrap for UX purposes.  Featured icons and photography will be noted as well upon looking through the catalog. Thanks for looking and I hope you enjoy!</p>
    </section>
    
    <!-- DESIGN IMG SECTION DIRECTIVE -->
    <design-picture-directive design='design'></design-picture-directive>

</section>
