
<!-- HERO IMAGE AND SITE TITLE -->
<section class="hero-image">
    <!-- FADE DIRECTIVE USED TO FADE ELEMENTS ON SCROLL -->
    <h1 class="site-title" title-fade-directive>Elliot Richardson</h1>
    <h4 class="site-subtitle" title-fade-directive>Front End Developer</h4>
    <img ng-src="./img/earlogo1white.svg" alt="ear logo" title-fade-directive/>
    <p><i class="fa fa-angle-down" aria-hidden="true"></i>
Find Out More <i class="fa fa-angle-down" aria-hidden="true"></i>
</p>
    <p class="created-by">Created By <span class="name-underline">Elliot Richardson</span></p>
</section>

<!-- SUMMARY SKILLS SECTION -->
<section class="summary-skills inner-wrap">
    <!-- SOCIAL ICON COMPONENT HOMEPAGE -->
    <social-icon-directive></social-icon-directive>

    <div class="elliot-pic-container">
        <img class="elliot-pic" ng-src="./img/elliotpic.jpg">
    </div>
    <div class="summary-content margin-bottom">
        <h4 class="hi">HI, I'M ELLIOT RICHARDSON!</h4>
        <p>A Front End Web Developer focused on elegant design and user experience. Currently I am interested in joining a great team that I can grow with and also freelance projects ranging from personal to small business sites. Let me help you look great on the web. </p>
        <div class="button"></div>
    </div>
    <h2 class="section-titles margin-bottom">Skills</h2>
    <div class="skills-icons margin-bottom">
        <img class="skills-img" ng-src="./img/html5-blk.png"/>
        <img class="skills-img" ng-src="./img/css3-blk.png"/>
        <img class="skills-img" ng-src="./img/javascript-blk.png"/>
        <img class="skills-img" ng-src="./img/angular-color-blk.png"/>
        <img class="skills-img" ng-src="./img/nodejs-logo-blk.png"/>
        <img class="skills-img" ng-src="./img/React.js_logo-blk.png"/>
        <img class="skills-img" ng-src="./img/gulp-blk.png"/>
        <img class="skills-img" ng-src="./img/sass-blu.png"/>
    </div>
    <div class="skills-list margin-bottom-mid">
        <div class="box-left">
            <ul>
                <li>CSS</li>
                <li>Angular</li>
                <li>HTML 5</li>
                <li>Javascript</li>
            </ul>
            <ul>
                <li>Bootstrap </li>
                <li>NPM</li>
                <li>Git</li>
                <li>Jquery</li>
            </ul>
        </div>
        <div class="box-right">
            <ul>
                <li>Node.js</li>
                <li>Sass</li>
                <li>React</li>
                <li>WordPress</li>
            </ul>
            <ul>
                <li>Gulp</li>
                <li>SQL</li>
                <li>Affinity Suite</li>
                <li>Adobe</li>
            </ul>
        </div>
    </div>
</section>

<section id="portfolio" class="projects-container">
    <div class="projects-banner-image">
        <img class="logos" ng-src="./img/triangleiconwhite.svg"/>
        <h2>Projects</h2>
        <p class="sub-title">Creatively designed and Built</p>

    </div>

    <!-- PORTFOLIO IMG SECTION DIRECTIVE -->
    <portfolio-directive></portfolio-directive>


</section>
