<div class="resume desktop-wrap padding-top">
    <a ui-sref="home" class="logo-container"><img ng-src="./img/earlogo1.svg"/></a>
    <h1 class="main-title">Elliot Richardson</h1>
    <p class="skills-page">Skills Summary</p>
    <div class="button-wrap">
        <a href="https://drive.google.com/file/d/0B9_dM-c-kV49eldLRFJrektSZk0/view?usp=sharing" target="_blank"><div class="download-resume">Download</div>
        </a>
    </div>

    <section class="section-wrap">
        <h3 class="section-titles">Skills</h3>
        <ul class="skills-list margin-bottom-mid">
            <li>HTML</li>
            <li>CSS</li>
            <li>Javascript</li>
            <li>Angular</li>
            <li>Node.js</li>
            <li>React</li>
            <li>Gulp</li>
            <li>Sass</li>
            <li>Jquery</li>
            <li>Bootstrap</li>
            <li>Wordpress</li>
            <li>SQL</li>
        </ul>

        <div ng-repeat="resume in resumes">
            <h3 class="section-titles">{{ resume.sectionTitle }}</h3>
            <p class="job-title">{{ resume.jobTitle }}</p>
            <ul class="job-lists margin-bottom-mid" >
                <li ng-repeat="job in resumes[$index].jobList">{{ job }}</li>
            </ul>
        </div>
        
    </section>

</div> <!-- CLOSE TAG FOR RESUME PAGE -->
