<div class="resume desktop-wrap padding-top">
    <a ui-sref="home" class="logo-container"><img ng-src="./img/earlogo1.svg"/></a>
    <h1 class="main-title">Elliot Richardson</h1>
    <p class="skills-page">Skills Summary</p>
    <div class="button-wrap">
        <a href="https://drive.google.com/file/d/0B9_dM-c-kV49eldLRFJrektSZk0/view?usp=sharing" target="_blank"><div class="download-resume">Download</div>
        </a>
    </div>

    <section class="section-wrap">
        <h3 class="section-titles">Skills</h3>
        <ul class="skills-list margin-bottom-mid">
            <li>- HTML</li>
            <li>CSS</li>
            <li>Javascript</li>
            <li>Angular</li>
            <li>Node.js</li>
            <li>React</li>
            <li>Gulp</li>
            <li>Sass</li>
            <li>Jquery</li>
            <li>Bootstrap</li>
            <li>Wordpress</li>
            <li>SQL -</li>
        </ul>

        <h3 class="section-titles">Front End Web Developer/Web Designer</h3>
        <p class="job-title">Front End Developer 2015 - Present
        <ul class="job-lists margin-bottom-mid">
            <li>Experience with HTML,CSS,Javascript,Jquery, Angular, React, Node.js, Gulp, Sass, Bootstrap, Wordpress, Git to build interactive websites</li>
            <li>Experience with responsive design using media queries, Css, Bootstrap, and fluid grid systems</li>
            <li>Experience with CMS systems, Wordpress, Squarespace, Go Daddy site builder</li>
            <li>Experience with Affinity Photo/Designer, Pixelmator, Sketch, Adobe</li>
            <li>Able to translate PSD mockups using HTML,CSS,Javascript with a keen eye for design</li>
        </ul>

        <h3 class="section-titles">Apple</h3>
        <p class="job-title">Tech Customer Support 2015 - 2016</p>
        <ul class="job-lists margin-bottom-mid">
            <li>Troubleshooting iOS devices and personal Macintosh computers</li>
            <li>Handle both software and hardware technical support</li>
            <li>Systematic diagnosis and documentation of all services</li>
            <li>Provided Teamwork and leadership of my technical team</li>
            <li>Excellent composure in high stress situations, always aiming to align and assure all of my customers</li>
            <li>World class customer service, ensuring each customer has a great experience with Apple's in store tech support</li>
        </ul>

        <h3 class="section-titles">Projects</h3>
        <p class="job-title">Current Projects</p>
        <ul class="job-lists margin-bottom-mid">
            <li class="project-list">Future Custom Wordpress Template</li>
            <span>Built from the ground up using HTML, CSS, Javascript, Wordpress, Php</span>
            <li class="project-list">Redesign and Build of Elliot Richardson.com</li>
            <span>Built from the ground up using Angular, HTML, CSS, Javascript, Jquery, Gulp, Sass, Node.js, NPM</span>
            <li class="project-list">Lyft Website Clone</li>
            <span>Built from the ground up as a group project for school using React, HTML, CSS, Javascript, Jquery, Webpack, Bootstrap, Node.js, SQL</span>
        </ul>

        <h3 class="section-titles">Education</h3>
        <p class="job-title">Current Education</p>
        <ul class="job-lists margin-bottom">
            <li>Bachelor of Arts in Music, 2005, California State University of Fullerton</li>
            <li>Dev Mountain 2016 Full Stack Web Development Program</li>
        </ul>
    </section>

</div> <!-- CLOSE TAG FOR RESUME PAGE -->
