
.mobile-main-header-container {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    background: $darkblack;
    background: linear-gradient(rgba(0,0,0,.0), rgba(0,0,0,.0));
    min-height: 60px;
    align-items: center;
    padding: 0 12px;
    z-index: 4;
    transition: all .2s ease;
    .main-nav-container {
        display: flex;
        li {
            margin: 2px 10px;
        }
    }
    .main-logo-container {
        img {
            width: 35px;
        }
    }
    .hamburger {
        width: 28px;
    }
    .hamburger:hover {
        cursor: pointer;
    }

}

//// ON SCROLL MENU CLASS ADDED //////////
.scroll-change {
    background-color: $darkblack;
    box-shadow: 0px 0px 20px;
    transition: all .8s ease;
}


.main-header-container {
    display: none;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 4;
    justify-content: space-between;
    min-height: 60px;
    align-items: center;
    padding: 0 20px 0 0;
    transition: all .5s ease;
    .main-nav-container {
        display: flex;

        a:nth-child(4){
            border: 1px solid $white;
            transition: all .2s ease;
        }
        a:nth-child(4):hover{
            text-decoration: none;
            background: $white;
            color: $darkblack;
            border: 1px solid $white;
        }
        a {
            transition: all .2s ease;
        }
        a:after {
            content: '';
            display: block;
            background: $white;
            height: 1px;
            width: 0%;
            margin: 0 auto;
            transition: all .2s ease;
        }
        a:hover:after {
            content: '';
            display: block;
            background: $white;
            height: 1px;
            width: 60%;
            margin: 0 auto;
        }
        a:nth-child(4):hover:after {
            content: '';
            display: block;
            background: none;
            height: 1px;
            width: 0;
        }
        li {
            margin: 12px 20px 9px;
            font-size: .65em;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
    }
    .main-logo-container {
        img {
            width: 35px;
        }
    }
}// CLOSING TAG FOR MAIN HEADER CSS

@media (min-width: 760px){
    .mobile-main-header-container {
        display: none;
    }
    .main-header-container {
        display: flex;
    }
}
