<section class="client-container">
    <h2>Clients</h2>

    <p>All projects were built from the ground up using the technologies listed in there perspective details sections.  Projects that were designed as well are notated by the use of design programs.  Please enjoy!</p>

    <div class="client-list-container">
    <ul class="client-list">
        <li>Optimal Insurance Choice</li>
        <li>Go Fan Base</li>
    </ul>
    <ul class="client-list">
        <li>Antonio Porcheddu Music</li>
        <li>Empowered Employment</li>
    </ul>
    <ul class="client-list">
        <li>Dev Mountain</li>
        <li>SOC Detox &amp; Treatment</li>
    </ul>
</div>

</section>
