<section class="client-container">
    <div class="client-titles">
        <img ng-src="./img/tri_icon2_alt.svg" />
        <h2>Recent Clients</h2>

        <p>Projects for clients range from redesigning and helping their current websites, to coding and designing pages and sites from the ground up.</p>
        <div class="client-list-container">
            <ul class="client-list">
                <li>Optimal Insurance Choice</li>
                <li>Go Fan Base</li>
            </ul>
            <ul class="client-list">
                <li>Antonio Porcheddu Music</li>
                <li>Empowered Employment</li>
            </ul>
            <ul class="client-list">
                <li>Dev Mountain</li>
                <li>SOC Detox &amp; Treatment</li>
            </ul>
        </div>

    </div>

    <div class="client-list-container-mobile">
        <ul class="client-list">
            <li>Optimal Insurance Choice</li>
            <li>Go Fan Base</li>
        </ul>
        <ul class="client-list">
            <li>Antonio Porcheddu Music</li>
            <li>Empowered Employment</li>
        </ul>
        <ul class="client-list">
            <li>Dev Mountain</li>
            <li>SOC Detox &amp; Treatment</li>
        </ul>
    </div>

</section>
