<section class="design">
    <div class="picture-container">
        <div class="column column1">
            <img ng-repeat="image in images | filter: 'column 1'" ng-src="./img/design/{{ image.img }}" />
        </div>
        <div class="column column2">
            <img ng-repeat="image in images | filter: 'column 2'" ng-src="./img/design/{{ image.img }}" />
        </div>
        <div class="column column3">
            <img ng-repeat="image in images | filter: 'column 3'" ng-src="./img/design/{{ image.img }}" />
        </div>
    </div>
</section>
