<!-- DESKTOP HEADER ALT COLOR -->
<header class="main-header-container-alt" menu-scroll>
    <div class="main-logo-container">
    </div>
    <nav class="main-nav-container">
        <a href="#!/"><li>Home</li></a>
        <a href="#!/about"><li>About</li></a>
        <div class="drop-container">
        <li>Experience<i class="material-icons">keyboard_arrow_down</i></li>
            <div class="drop-nav">
                <a href="#!/design"><li>Design</li></a>
                <a href="#!/resume"><li>Resume</li></a>
            </div>
        </div>
        <a href="mailto:ear78@aol.com"><li>Contact</li></a>
    </nav>
</header>
