<div class="slider margin-bottom">
    <div class="slide" ng-repeat="image in images" ng-show="image.visible">
        <img ng-src="{{image.src}}"/>
    </div>
    <div class="arrows">
        <a class="buttons" ng-click="prev()"><i class="material-icons">keyboard_arrow_left</i></a>
        <a class="buttons" ng-click="next()"><i class="material-icons">keyboard_arrow_right</i></a>
        <div class="info" ng-repeat="image in images" ng-show="image.visible">
            <p class="details">{{ image.details }}</p>
            <p class="tech">{{ image.tech}}</p>
        </div>
        <img class="logo" ng-src="../../img/earlogo2white.svg" alt="logo"/>
    </div>
</div>
