<div class="social-container-dark">
    <div class="black-box">
        <a ui-sref="resume">Resume   <span>+</span></a>
    </div>
    <ul class="social-icons-dark">
        <a href="https://www.linkedin.com/in/elliot-richardson" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="https://www.instagram.com/elliot.richardson/" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="https://twitter.com/mixermanelliot" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://github.com/ear78" target="_blank"><i class="fa fa-github"></i></a>
    </ul>
</div>
