
.design .logo-container {
    display: block;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    background: none;
    padding: 0;
    min-height: 0;
    img {
        display: initial;
    }

}
.design .main-title {
    text-align: center;
}

.design .subtitle {
    text-align: center;
    margin-bottom: 40px;
    color: $lightgray2;
    text-transform: uppercase;
    font-size: .75em;
}

.design .slider {
    position: relative;
    padding: 5px 5px 60px;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
    border: 1px solid gainsboro;
    box-shadow: 0px 3px 10px rgba(0,0,0,.3);
    max-width: 750px;
    overflow: hidden;
    min-height: 400px;
}

.design .slide {
    top: 0;
    left: 0;
    position: absolute;
    img {
        max-width: 100%;
    }
}

.design .slide-viewer {
    position: relative;
    overflow: hidden;
    height: 300px;
    background: lightblue;
}

.design .slide-group {
    width: 100%;
    height: 100%;
    position: relative;
}


.design .arrows {
    position: absolute;
    bottom: 0;
    right: 0px;
    width: 100%;
    height: auto;
    display: flex;
    background: $darkblack;
    padding: 10px;
    .buttons {
        height: 40px;
        width: 40px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 2px;
        transition: all .2s;
        i {
            font-size: 26px;
        }
    }
    .buttons:hover {
        cursor: pointer;
        opacity: .5;
    }
    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10px;
        border-left: 1px solid #fff;
        padding-left: 15px;
        color: #fff;
        text-transform: uppercase;
        font-size: .8em;
        .details {
            font-family: $montserrat;
        }
        .tech {
            display: none;
            font-size: .75em;
            color: $lightgray;
        }
    }
    .logo {
        width: 40px;
        height: 40px;
        position: absolute;
        right: 10px;
    }
}

.slide.ng-hide-add,
.slide.ng-hide-remove {
  -webkit-transition: all ease 0.5s, transform .6s ease;
  -moz-transition: all ease 0.5s, transform .6s ease;
  -o-transition: all ease 0.5s, transform .6s ease;
  transition: all ease 0.5s, transform .6s ease;
}
.slide.ng-hide-add.ng-hide-add-active,
.slide.ng-hide-remove {
  opacity: 0;
  transform: translate3d(100%,0,0);
}
.slide.ng-hide-add,
.slide.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  transform: translate3d(0,0,0);
}

.content-container {
    padding: 60px 20px 60px 0px;
    max-width: 1200px;
    margin: 0 auto 0px;
    h3 {
        font-size: 1.5em;
        text-transform: uppercase;
        font-family: montserrat;
        margin-bottom: 15px;
    }
    p {
        line-height: 1.5;
        letter-spacing: 1px;
    }
}



@media (min-width: 768px){
    .design .arrows {
        .info {
            .tech {
                display: block;
                font-size: .75em;
                color: $lightgray;
            }
        }
    }
}
