<footer>
    <p class="built">Built By Hand in Nashville, Tn by Elliot Richardson</p>
    <div class="main-logo-container">
        <a href="#!/">
            <img ng-src="./img/earlogo1white.svg"/>
        </a>
    </div>
    <ul class="site-map">
        <a href="#!/about">About</a>
        <a href="#!/design">Design</a>
        <a href="#!/resume">Resume</a>
        <a href="mailto:ear78@aol.com">Contact</a>
    </ul>
    <ul class="social-icons">
        <a href="https://www.linkedin.com/in/elliot-richardson" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="https://www.instagram.com/elliot.richardson/" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="https://twitter.com/mixermanelliot" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://github.com/ear78" target="_blank"><i class="fa fa-github"></i></a>
    </ul>
    <img class="er-page-bottom" ng-src="./img/er_page_bottom.svg"/>
    <a class="site-link" href="#!/">www.elliotrichardson.com</p>
    <a class="to-top" click-scroll-directive><i class="fa fa-angle-up" aria-hidden="true"></i></a>
</footer>
